//===================
// Grid
//======================



@each $col, $color in $row-themes {
    .theme.col-#{$col} {
        background: $color;
        @include buttons;
        font-weight: bold;
        color: white;
        justify-content: center;
    }
}

@each $col, $percent in $flex-basis {
    .row {
        margin: 1em 0 1em;
        @include mq2;
    .col-#{$col} {
        @include mq2 {
            flex-basis: $percent;
            margin-left: .5em;
            margin-right: .5em;
            }
        }
    }
}

